* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuNerdFont";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #080808;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #custom-spotify, #tray, #mode{
    padding: 0 3px;
    margin: 0 2px;
}

#custom-text.cpu-power {
    padding: 0 0px;
    margin: 0 0px;
}

#custom-text.VOL {
    padding: 0 0px;
    margin: 0 0px;
}

#custom-delim {
    margin: 0 2px;
    color: #696969;
}

#custom-delim.HC {
    margin: 0 2px;
    color: #ffffff;
}

#clock {
    font-weight: 500;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#language {
    padding: 0 2px;
    margin: 0 2px;
    font-weight: 500;
    /* color: #eeeeee; */
}

#network.name {
    padding: 0 2px;
    margin: 0 2px;
}

#network.up {
    color: #f157fb;
}

#network.down {
    color: #8298ff;
}
#network.disconnected {
    background: #f53c3c;
}

#temperature {
    color: #22cc22;
    font-weight: 500;
}

#temperature.critical {
    color: #ff2222;
}

#memory {
    font-weight: 500;
}

#memory.warn {
    color: #ffff22;
}

#memory.critical {
    color: #ff2222;
}

#custom-spotify {
}

#tray {
}

#wireplumber {
    margin: 0 0px;
    padding: 0 0px;
}
